.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 151, 172);
    border-radius: 10px;
}
p {
    max-width: 90%;
    text-align: center;
}
.subscript {
    color: #bbb;
    font-size: x-small;
}
img {
    max-width: 90%;
}

@media (min-width: 500px) {
    .about-wrapper {
        display: flex;
        justify-content: center;
    }
    .about-container {
        max-width: 40%;
        align-self: center;
    }
    p {
        max-width: 80%;
        padding-bottom: 20px;
    }
}