.about-container {
	width: 50vw;
}

.about-container img {
	width: 60%;
}

.subscript {
	margin-top: 0.2rem;
	color: var(--accent-background-color);
	font-size: xx-small;
}

/* Mobile screen */
@media only screen and (max-width: 750px) {
	.about-container {
		width: 80%;
	}
}
@media only screen and (max-width: 450px) {
	.about-container {
		width: 100%;
	}
}
