.login-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.login-input {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.login-input input {
	margin-bottom: var(--material-padding);
	margin-left: var(--material-padding);
}

.login-buttons {
	display: flex;
	flex-direction: row;
	gap: var(--inline-element-spacing);
	justify-content: center;
}

.login-message {
	padding: var(--material-padding);
	color: red;
}
