.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form h2 {
    font-size: 18px;
    align-self: center;
    padding-bottom: 8px;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.login-input {
    font-size: 16px;
}

.login-input input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
    margin: 8px;
}

.login-input label {
    width: 100px;
    padding-left: 8px;
}

.login-buttons button {
    padding: 8px 16px;
    margin: 8px;
}
.login-message {
    padding: 8px;
    color: red;
}