.app-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-background-color);
	padding: 0 var(--app-left-right-margin);
	color: var(--header-font-color);
	font-family: var(--heading-font);
}

.nav-initials {
	background-color: var(--header-font-color);
	color: var(--header-background-color);
	padding: 6px;
	border-radius: 50%;
	font-weight: bold;
}

.header-titles {
	display: flex;
	align-items: baseline;
	gap: var(--inline-element-spacing);
}

.nav-title {
	font-size: xx-large;
	margin: var(--nav-top-bottom-margin) 0;
}

.nav-list {
	list-style: none;
	display: flex;
	gap: var(--inline-element-spacing);
	font-size: larger;
	align-items: center;
	/* position:absolute; */
}

.nav-logout {
	cursor: pointer;
}

.nav-logout:hover {
	/* text-decoration: underline; */
	text-shadow: 0 0.2em 0.2em black;
}

@media only screen and (max-width: 640px) {
	.app-header {
		flex-direction: column;
	}
	.nav-title {
		margin: var(--nav-top-bottom-margin) 0;
	}
	.header-nav {
		margin-top: calc(var(--material-padding) * -1);
		margin-bottom: var(--main-vertical-spacing);
	}
}
