.app-header {
	/* Viewport is fixed now, we can make
	<main> scrollable when needed */
	/* position: -webkit-sticky; 
	position: sticky;
	top: 0;
	left: 0; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-background-color);
	padding: 0 var(--app-left-right-margin);
	color: var(--header-font-color);
}

.nav-initials {
	background-color: var(--header-font-color);
	color: var(--header-background-color);
	padding: 6px;
	border-radius: 50%;
	font-weight: bold;
}

.header-titles {
	display: flex;
	align-items: baseline;
	gap: var(--inline-element-spacing);
}

.nav-title {
	font-size: xx-large;
	margin-top: var(--nav-top-bottom-margin);
	margin-bottom: var(--nav-top-bottom-margin);
}

.app-header a {
	color: inherit;
}

.nav-list {
	list-style: none;
	display: flex;
	gap: var(--inline-element-spacing);
	font-size: larger;
	align-items: center;
}

.nav-logout {
	cursor: pointer;
}

.nav-logout:hover {
	/* text-decoration: underline; */
	text-shadow: 0 0.2em 0.2em black;
}