.app-header {
	/* Viewport is fixed now, we can make
	<main> scrollable when needed */
	/* position: -webkit-sticky; 
	position: sticky;
	top: 0;
	left: 0; */
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-background-color);
	padding: 0 var(--app-left-right-margin);
	color: var(--header-font-color);
	font-family: var(--heading-font);
}

.header-titles {
	display: flex;
	align-items: baseline;
	gap: var(--inline-element-spacing);
}

.nav-title {
	font-size: xx-large;
	margin-top: var(--nav-top-bottom-margin);
	margin-bottom: var(--nav-top-bottom-margin);
}

.nav-list {
	list-style: none;
	display: flex;
	gap: var(--inline-element-spacing);
	font-size: larger;
}
