.new-task {
	font-weight: bold;
	width: calc(((100%) - (3rem)) / 4);
	text-align: center;
}

button.new-task {
	width: 100%;
}

.stages-options li {
	display: inline;
	margin-left: 0.5em;
}

.stages-container {
	flex-grow: 1;

	display: flex;
	align-items: flex-start;

	overflow-x: auto;

	-ms-scroll-snap-type: x proximity;
	scroll-snap-type: x proximity;
	scroll-padding-left: var(--app-left-right-margin);
}

/* Mobile screen */
@media only screen and (max-width: 750px) {
	.stages-container {
		margin-left: 0;
		margin-right: 0;
		-ms-scroll-snap-type: x mandatory;
		scroll-snap-type: x mandatory;
		scroll-padding-left: var(--app-left-right-margin);
	}
	.stages-container:last-child {
		padding-bottom: calc(2 * var(--main-vertical-spacing));
	}

	.new-task {
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
	}
}
@media only screen and (max-width: 450px) {
	.stages-container {
		margin-left: 0;
		margin-right: 0;
		-ms-scroll-snap-type: x mandatory;
		scroll-snap-type: x mandatory;
		scroll-padding-left: 0;
	}
	.new-task {
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
	}
}
