.stage.panel-style {
	max-height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: var(--main-children-spacing);
	border-bottom: var(--material-padding) solid var(--panel-background-color);
	/* Width of stages in 'desktop' view
   grow/shrink 0 keep them equal width 
   4 is to show four stages in full width
   3em subtracts the intermediate margins */
	flex: 0 0 calc(((100%) - (3rem)) / 4);
	position: static;
	align-items: stretch;

	overflow-x: hidden;
	overflow-y: auto;

	/* Control snap for stage (horizontal) */
	scroll-snap-align: start;

	/* Control snap for children tasks */
	/* scroll-snap-type: y mandatory; */
}

.stage:last-child {
	margin: 0;
}

.stage-name {
	margin: 0 calc(var(--material-padding) * -1);
	position: sticky;
	width: inherit;
	top: 0;
	left: 0;

	background-color: inherit;
}
.stage-name h3 {
	margin-top: var(--material-padding);
}

/* Narrow screen */
@media (max-width: 500px) {
	.stage {
		flex: 0 0 fit-content;
	}
}
