.stages-wrapper {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.stages-heading {
	padding: 2em 3em;
	position: sticky;

	left: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

.new-task {
	font-size: larger;
	font-weight: bold;
}

.stages-options li {
	display: inline;
	margin-left: 0.5em;
}

.stages-container {
	padding: 0 3em;
	flex-grow: 1;
	/* flex-basis: max-content; */

	display: flex;
	align-items: flex-start;
	gap: 1.5em;

	/* Enable horizontal scrolling */
	overflow-x: auto;

	/* Control snap for children tasks */
	scroll-snap-type: x proximity;
	scroll-padding-left: 3em;
}

/* Narrow screen */
@media (max-width: 500px) {
	.stages-container {
		scroll-snap-type: x mandatory;
	}
}
