.new-task {
	/* font-size: larger; */
	font-weight: bold;
	width: calc(((100%) - (3rem)) / 4);
	text-align: center;
}

button.new-task {
	width: 100%;
}

.stages-options li {
	display: inline;
	margin-left: 0.5em;
}

.stages-container {
	flex-grow: 1;
	/* flex-basis: max-content; */

	display: flex;
	align-items: flex-start;

	/* Enable horizontal scrolling */
	overflow-x: auto;

	/* Control snap for children tasks */
	scroll-snap-type: x proximity;
	scroll-padding-left: var(--app-left-right-margin);
}

/* Mobile screen */
@media only screen and (max-width: 640px) {
	.stages-container {
		margin-left: 0;
		margin-right: 0;
		scroll-snap-type: x mandatory;
		scroll-padding-left: 0;
	}
	.new-task {
		width: max-content;
	}
}
