.stage.panel-style {
	max-height: 100%;
	padding: var(--stage-panel-padding);
	padding-top: 0;
	padding-bottom: 0;
	margin-right: var(--stage-panel-padding);
	border-bottom: var(--stage-panel-padding) solid var(--panel-background-color);
	/* Width of stages in 'desktop' view
   grow/shrink 0 keep them equal width 
   4 is to show four stages in full width
   3em subtracts the intermediate margins */
	flex: 0 0 calc(((100%) - (calc(3 * var(--stage-panel-padding)))) / 4);
	align-items: stretch;

	overflow-x: hidden;
	overflow-y: auto;

	/* Control snap for stage (horizontal) */
	scroll-snap-align: start;
}

.stage:last-child {
	margin: 0;
}

.stage-name {
	margin: 0 calc(var(--material-padding) * -1);
	position: -webkit-sticky;
	position: sticky;
	width: inherit;
	top: 0;
	left: 0;

	background-color: inherit;
}
.stage-name h3 {
	margin-top: var(--material-padding);
}

/* Mobile screen */
@media only screen and (max-width: 750px) {
	.stage.panel-style {
		flex: 0 0 max-content;

		scroll-snap-align: start;
	}
}
@media only screen and (max-width: 450px) {
	.stage.panel-style {
		scroll-snap-align: center;
	}
}
