.stage {
	max-height: 100%;
	padding: 1em;
	flex: none;
	/* flex-basis: min-content; */

	display: flex;
	flex-flow: column nowrap;
	overflow-y: auto;
	gap: 1em;

	background-color: #eceff1;

	/* Control snap for stage (horizontal) */
	scroll-snap-align: start;

	/* Control snap for children tasks */
	/* scroll-snap-type: y mandatory; */
}

.stage-title {
	position: sticky;
	top: 0;
	background-color: inherit;
}

/* Narrow screen */
@media (max-width: 500px) {
	.stage {
		flex-basis: fit-content;
	}
}
