#task-details-form {
	display: flex;
	flex-direction: column;
	/* padding: 3vh 5vw; */
}

.task-title-wrapper {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.task-title-wrapper input {
	flex-grow: 1;
	border-radius: 0.3rem;
	border: 1px solid;
	padding: 5px;
	border-color: gray;
}

.task-selectors-wrapper {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	flex-wrap: wrap;
}

.task-selector {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	margin-top: 10px;
}

.task-selector input,
select {
	height: 30px;
	border-radius: 4px;
	border: 1px solid gray;
	padding: 5px;
}

#description {
	border-radius: 4px;
	border: 1px solid gray;
	padding: 5px;
}

/* input#title {
    border-color: red;
} */

/* Comments styling */
.task-comments-wrapper {
	padding-top: 12px;
}

.task-comments-list {
	border: none;
	background-color: gray;
	border-radius: 0.3rem;
	padding: 2px 4px;
}
.task-comment {
	/* padding: 5px 10px; */
	margin: 4px 0px;
	border: 1px solid gray;
	border-radius: 0.3rem;
}

.task-comment-user {
	/* font-weight: bold; */
}

.task-comment-header {
	display: flex;
	justify-content: space-between;
	padding: 4px 10px;
	background-color: rgb(237, 237, 237);
	font-style: italic;
	border-radius: 5px 5px 0 0;
}

.task-comment-content {
	padding: 5px 0 5px 20px;
	background-color: white;
	border-radius: 0 0 5px 5px;
}
.task-new-comment-wrapper {
	display: flex;
	padding-top: 8px;
}

#new_comment {
	flex-grow: 1;
	margin-left: 10px;
	border-radius: 4px;
	border: 1px solid gray;
	padding: 5px 10px;
}

/* Buttons */
.task-button {
	margin-right: 10px;
	margin-top: 10px;
}

.task-comment-button {
	margin: 0;
}

/* .task-button:hover {
	background-color: rgb(215, 215, 215);
} */

#title.required-field,
#title.required-field::placeholder {
	border-color: rgba(179, 0, 0, 0.7);
	color: rgba(179, 0, 0, 0.7);
}

/* Delete confirmation modal */
.delete-confirm-wrapper {
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba(201, 201, 201, 0.51);
}

.delete-confirm-modal {
	background-color: whitesmoke;
	max-width: 30rem;
	margin-top: 5rem;
	margin-bottom: auto;
	padding: 25px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid gray;
	box-shadow: 0px 0px 5px gray;
	font-size: 1rem;
	line-height: 1.5;
	align-content: center;
}

.error-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error-button {
	padding: 10px 20px;
	border-radius: 20px;
	border: 1px solid green;
	background-color: rgb(61, 91, 0);
	color: whitesmoke;
}

.error-content {
	padding: 30px;
}

.loading-message {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}
