.task-card {
  padding: 0.75em;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto min-content;

  row-gap: 1rem;
  column-gap: 0.5em;

  background-color: white;
  cursor: pointer;
}

.task-title {
  grid-column: 1 / -1;
}

.task-owner,
.task-priority,
.task-date,
.task-more {
  display: inline-block;
  align-self: flex-end;
}

.task-owner {
  padding: 0.25em;
  border-radius: 0.2em;
  justify-self: start;
  background-color: darkslategray;
  font-weight: bold;
  color: whitesmoke;
}

.task-priority,
.task-date {
  justify-self: end;
}
