.task-card.card-style {
	width: auto;
	margin-bottom: 1em;
	flex: none;

	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto min-content;
	grid-template-areas:
		'title title title'
		'owner priority date';

	row-gap: 1rem;
	column-gap: 0.5em;

	cursor: pointer;

	/* scroll-snap-align: start; */
}

.task-card:last-child {
	margin-bottom: 0.2rem;
}

.task-title {
	grid-area: title;
}

.task-owner,
.task-priority,
.task-date,
.task-more {
	display: inline-block;
	align-self: flex-end;
}

.task-owner {
	padding: 0.25em;
	border-radius: 0.2em;

	grid-area: owner;
	justify-self: start;

	background-color: darkslategray;
	font-weight: bold;
	color: whitesmoke;
}

.task-priority {
	grid-area: priority;
	justify-self: end;
}

.task-date {
	grid-area: date;
	justify-self: end;
}

@media (max-width: 500px) {
	.task-card {
		width: 80vw;
	}
}
