.task-card.card-style {
	width: 100%;
	margin-bottom: var(--material-padding);
	flex: none;

	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto min-content;
	grid-template-areas:
		'title title title'
		'owner priority date';

	row-gap: var(--material-padding);
	column-gap: var(--inline-element-spacing);

	font-size: smaller;

	cursor: pointer;

	/* scroll-snap-align: start; */
}

/* Tiny margin to allow for drop shadow */
.task-card:last-child {
	margin-bottom: 0.2rem;
}

.task-title {
	grid-area: title;
}

.task-owner,
.task-priority,
.task-date,
.task-more {
	display: inline-block;
	align-self: flex-end;
}

.task-owner {
	padding: 0.25em;
	border-radius: var(--typical-radius);

	grid-area: owner;
	justify-self: start;

	background-color: var(--accent-color);
	font-weight: bold;
	color: var(--card-background-color);
}

.task-priority {
	grid-area: priority;
	justify-self: end;
}

.task-date {
	grid-area: date;
	justify-self: end;
}

@media (max-width: 500px) {
	.task-card {
		width: 80vw;
	}
}
