.users-table .user-control button {
	display: inline-block;
}

.click-edit {
	color: lightslategrey;
	visibility: hidden;
}

.click-edit:hover {
	visibility: visible;
}

.users-wrapper {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.users-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
