.users.panel-style {
	min-width: 60%;
	align-items: stretch;
}

.users-wrapper {
	margin-bottom: var(--material-padding);
	display: grid;
	grid-template-columns: repeat(3, minmax(max-content, 1fr));
	gap: var(--material-padding);
	align-items: flex-start;
	margin-bottom: var(--material-padding);
}

.new-user {
	display: flex;
	justify-content: center;
	gap: var(--inline-element-spacing);
}

.new-user-form {
	display: flex;
	justify-content: center;
}

.new-user-form-wrapper {
	display: flex;
	flex-direction: column;
}

.new-user-form label {
	text-align: center;
	margin-bottom: var(--element-label-gap);
}

.new-user-form input {
	margin-bottom: var(--material-padding);
}

.click-edit {
	color: lightslategrey;
	visibility: hidden;
}

.click-edit:hover {
	visibility: visible;
}

/* Mobile screen */
@media only screen and (max-width: 750px) {
	.users.panel-style {
		min-width: 80%;
	}
	.users-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 450px) {
	.users.panel-style {
		min-width: 100%;
	}
	.users-wrapper {
		grid-template-columns: 1fr;
	}
}
