.users.panel-style {
	width: 50vw;
	align-items: stretch;
}

.users-wrapper {
	margin-bottom: var(--material-padding);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: var(--material-padding);
}

.click-edit {
	color: lightslategrey;
	visibility: hidden;
}

.click-edit:hover {
	visibility: visible;
}

@media (max-width: 600px) {
	.users-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
