.user-card.card-style {
	display: flex;
	flex-direction: column;
}

.user-realname {
	display: flex;
	justify-content: space-between;
}

.user-username {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 600px) {
	.user-card {
		width: 15vw;
	}
}
